@page "/"

<PageTitle>Home</PageTitle>

@if (groupedData.Any())
{
    @foreach (var day in groupedData)
    {
        <div>
            <h3>@day.Key</h3>
            <canvas id="chart-@day.Key" width="400" height="200"></canvas>
        </div>
    }
}
else
{
    <p>Loading...</p>
}
